.env
tests/
Instrucoes.md
plano.md
teste.ipynb
webdriver/
config.json
yt-charts-uploader-credentials.json
spotify_functions.py
youtube_functions.py
config.json
config_loader.py
relatorio.md
wrangling_experimentation.ipynb
wrangling_notebook.ipynb